<%- include("header") -%>

<body>

    <div id="heading" class="box">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for(var i=0; i < newListItems.length; i++ ) {%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <%}%>

                <br>

                <!-- Action has to be the root/home route  -->
                <!-- Information will be posted to the server via the method of post-->

                <form class="" action="/" method="post">

                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">

                    <button type="submit" name="button" value=<%= listTitle %>>+</button>
                </form>
    </div>

<%- include("footer") -%>